<!DOCTYPE html>
<html>

<head>
    <title>Chúc mừng! Bạn đã được chọn cho vị trí {{jobTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;">
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="background-color: #28a745; padding: 24px; color: #ffffff;">
            <h1 style="font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;">
                Chúc mừng! Bạn đã được chọn cho vị trí {{jobTitle}} tại {{recruiterCompany}}</h1>
        </div>
        <div style="padding: 24px; background-color: #ffffff;">
            <p style="margin-top: 0; margin-bottom: 24px;">Xin chào {{candidateName}},</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi rất vui mừng thông báo rằng bạn đã được chọn cho vị trí <strong>{{jobTitle}}</strong> tại {{recruiterCompany}}. Chúng tôi mong được làm việc cùng bạn trong thời gian tới.</p>

            <p style="margin-top: 0; margin-bottom: 24px;">Vui lòng liên hệ với chúng tôi để thống nhất các bước tiếp theo trong quy trình tuyển dụng, hoặc nếu bạn có bất kỳ thắc mắc nào, hãy gửi email đến <a href="mailto:{{recruiterEmail}}" style="color: #000; text-decoration:none;">{{recruiterEmail}}</a>.</p>

            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi rất mong chờ được gặp và làm việc cùng bạn!</p>
        </div>
        <div style="background-color: #f6f6f6; padding: 24px;">
            <p style="margin-top: 0; margin-bottom: 24px;">
                Để biết thêm thông tin, vui lòng liên hệ với chúng tôi qua địa chỉ email: <a href="mailto:{{recruiterEmail}}" style="color: #000; text-decoration:none;">{{recruiterEmail}}</a>.
            </p>
        </div>
    </div>
</body>

</html>
