<!DOCTYPE html>
<html>

<head>
    <title>Nhà tuyển dụng {{recruiterCompany}} vừa lưu hồ sơ của bạn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;">
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="background-color: #007bff; padding: 24px; color: #ffffff;">
            <h1 style="font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;">
                Nhà tuyển dụng {{recruiterCompany}} vừa lưu hồ sơ của bạn</h1>
        </div>
        <div style="padding: 24px; background-color: #ffffff;">
            <p style="margin-top: 0; margin-bottom: 24px;">Xin chào {{candidateName}},</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi rất vui thông báo rằng nhà tuyển dụng <strong>{{recruiterCompany}}</strong> vừa lưu hồ sơ của bạn. Điều này có nghĩa là họ đã quan tâm và có thể xem xét hồ sơ của bạn cho các vị trí phù hợp.</p>

            <p style="margin-top: 0; margin-bottom: 24px;">Vui lòng theo dõi hòm thư hoặc tài khoản của bạn trên nền tảng của chúng tôi để không bỏ lỡ bất kỳ thông tin nào từ nhà tuyển dụng.</p>

            <p style="margin-top: 0; margin-bottom: 24px;">Nếu bạn có bất kỳ thắc mắc nào hoặc cần hỗ trợ, xin vui lòng liên hệ với chúng tôi qua địa chỉ email <a href="mailto:{{recruiterEmail}}" style="color: #000; text-decoration:none;">{{recruiterEmail}}</a>.</p>

            <p style="margin-top: 0; margin-bottom: 24px;">Chúc bạn may mắn và thành công trong quá trình tìm kiếm công việc!</p>
        </div>
        <div style="background-color: #f6f6f6; padding: 24px;">
            <p style="margin-top: 0; margin-bottom: 24px;">
                Để biết thêm thông tin, vui lòng truy cập trang web của chúng tôi hoặc liên hệ qua email: <a href="mailto:{{recruiterEmail}}" target="_blank" style="color: #000; text-decoration:none;">{{recruiterEmail}}</a>.
            </p>
        </div>
    </div>
</body>

</html>
